
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    width: 40%;
    margin: 50px auto;
    text-align: center;
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.areaInput{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
    padding: 1em;;
}

input[type="button"] {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto branca */
    border: none; /* Remove as bordas do botão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo ao passar o mouse */
    padding: 10px;

}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

input[type="button"]:hover {
    background-color: #45a049; 
}


ul {
    list-style-type: none;
    padding: 0;
   
}

li {
    padding: 10px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}