<h1>Detalhes do Usuário</h1>
<div>
    <p><strong>Nome:</strong> {{user.name}}</p>
    <p><strong>Ocupação:</strong> {{user.occupation}}</p>
    <p><strong>Data de Nascimento:</strong> {{user.date_of_birth}}</p>
    <p><strong>Newsletter:</strong> {{#if user.newsletter}}Sim{{else}}Não{{/if}}</p>
</div>