body{
    background-color: #e0dede;
    width: 80%;
    margin: auto;
    color: #474747;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #061761;
    text-align: center;
    background-color: #bebee9;
    margin-bottom: 0;
}

section{
    display: flex;
    justify-content: space-between;
}

/* imagem */

.img_perfil{
    width: 200px;
    border-radius: 100px;
    border: 2px solid #061761;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #061761;
    background-color: #c8c8cf;
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #061761;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-size: small;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

a{
    text-decoration: none;
    color: #1f1f45;
}

a:hover{
    text-decoration: underline;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: bold;
}

.p1{
    text-align: center;
}

.subtitle{
    margin-top: 0;
    background-color: #e1e1ff;
}

.menu{
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;
    padding: 0;
}

.menu li{
    list-style-type: none;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    background-color: #fffbfb;
    box-shadow: 1px 1px 1px 1px black;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    border-radius: 7px;
    padding: 10px;
}

.menu a:hover{
    color: white;
}

.menu li:hover{
    background-color: #474747;
    transition: 0.4s;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.486);
}
