html {
  background-color: #95a5a6;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

form {
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
  padding: 1em;
  width: 350px;
}

fieldset {
  border: none;
  padding: 0;
}

input,
label {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

label {
  margin-bottom: 0.25em;
}

input {
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 1.5em;
  padding: 0.75em;
}

/* Acessibilidade: destaque ao foco do campo */
input:focus {
  outline: 2px solid rgb(7, 19, 125);
  outline-offset: 2px;
}

legend {
  color: #454e4f;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 1em;
  text-align: center;
}

.actions {
  display: flex;
  gap: 1em;
}

.btn {
  background-color: rgb(7, 19, 125);
  color: #ecf0f1;
  cursor: pointer;
  margin-left: auto;
}

.btn2 {
  color: #ecf0f1;
  cursor: pointer;
  background-color: rgb(152, 21, 21);
}
