<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js + Postegres</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <a href="/">Inicio</a>

    {{{body}}}
     <div class="lista_btn_books">
            <div>
                <a href="/books/1">1</a>
                <a href="/books/2">2</a>
                <a href="/books/3">3</a>
                <a href="/books/4">4</a>
                <a href="/books/5">5</a>
                <a href="/books/6">6</a>
            </div>
    </div>
</body>
</html>